extends layout

block content
    div.m-5
        h1 #{title}
        form(method='POST', action='/users/add')
            .form-group
                label Title:
                input.form-control(name='title', type='text')
            .form-group
                label Author:
                input.form-control(name='author', type='text')
            .form-group
                label Body:
                textarea.form-control(name='body')
            input.btn.btn-success(type='submit' value='Submit')
